body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6,
time {
  font-family: "Roboto Slab", serif;
}

h1 > a, h2 > a {
    color: #333333;
}

.site-logo {
  font-size: 2em;
  color: #333333;
}

#container {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#container > * {
  width: 750px;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  #container > * {
    width: auto;
    margin: 0 1.2em;
  }
}

@media only screen and (max-width: 800px) {
  #container header ul {
    float: none;
  }
  #container header ul li {
    margin: 0 1em 0 0;
  }
}

/* Navigation. */

nav {
  font-family: "Roboto Slab", serif;
  font-size: 1.2rem;
  font-weight: 900;
  border-bottom: solid 1px #cecece;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 1em;
}

nav ul li a.active {
    color: #555555;
}

main {
  flex: 1 0 0;
  line-height: 1.5;
  font-size: 1.2rem;
}

/* Large post list */

.big-list {
  margin: 0;
  margin-top: 2rem;
  padding: 0;
  list-style: none;
}

.big-list-item {
  margin: 0.5em 0;
}

.big-list-item h2 {
  margin: 0.2em 0;
}

/* Small post list. */

.post-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-list-item {
  padding: 0.5em 0;
  border-bottom: 1px solid #cecece;
}

.date-meta {
  float: right;
}

.post-list li:last-child {
  border-bottom: none;
}

.post-nav ul {
  margin: 0.5em 0;
  padding: 0.5em 0 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}

/* Preformatted. */

pre {
  background-color: #ffffcc;
  overflow-x: auto;
  padding: 0.8em;
  font-size: 0.9em;
  box-shadow: 0 -1px 0 #bbbbbb inset;
}

.highlight pre {
  overflow-x: auto;
}

kbd {
  display: inline-block;
  padding: 0.2em 0.3em;
  font-size: 0.8em;
  line-height: 1em;
  color: #555555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc #cccccc #bbbbbb;
  border-radius: 3px;
  box-shadow: 0 -1px 0 #bbbbbb inset;
}

h1 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 900;
}

.footer {
  border-top: solid 1px #cecece;
}

textarea, input {
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
background-color: #fff;
border: 1px solid #cecece;
border-radius: 3px;
color: #000000;
/*display: -webkit-inline-box;*/
display: -ms-inline-flexbox;
display: inline-flex;
font-size: 14px;
-webkit-box-pack: start;
-ms-flex-pack: start;
justify-content: flex-start;
line-height: 24px;
padding: 8px;
position: relative;
box-shadow: inset 0 1px 2px rgba(17, 17, 17, 0.1);
max-width: 100%;
width: 100%;
}

button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #d3d6db;
  border-radius: 3px;
  color: #666666;
  /*display: -webkit-inline-box;*/
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

button:hover {
 border: solid #cecece 2px;
 text-decoration: none;
}

.meta-aside {
  margin: 0.5em 0;
  color: #444444;
  font-size: 0.8em;
  font-family: "Roboto Slab", serif;
}

.meta-aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #dd2a74;
  text-decoration: none;
}

a:hover {
  color: #555555;
}

/* Images. */

.image, figure img, img {
  width: 100%;
}

.full-image, figure.full img, img[src*="full"] {
  width: 100%;
}

@supports (width: 100vw) {
  .full-image, figure.full img, img[src*="full"] {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

.mid-image, figure.mid img, img[src*="mid"] {
  width: 100%;
}

@supports (width: 100vw) {
  .mid-image, figure.mid img, img[src*="mid"] {
    width: 800px;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -400px;
    margin-right: -400px;
  }
  @media only screen and (max-width: 800px) {
    .mid-image, figure.mid img, img[src*="mid"] {
      width: 100%;
      left: 0;
      right: 0;
      margin: 0;
    }
  }
}

.float-image, figure.float img, img[src*="float"] {
  width: 300px;
  float: left;
  margin: 0 1em 1em -3em;
}

@media only screen and (max-width: 800px) {
  .float-image, figure.float img, img[src*="float"] {
    float: none;
    margin: 0;
    width: 100%;
  }
}

.float-image-right, figure.float-right img, img[src*="float-right"] {
  width: 300px;
  float: right;
  margin: 0 -3em 1em 1em;
}

@media only screen and (max-width: 800px) {
  .float-image-right, figure.float-right img, img[src*="float-right"] {
    float: none;
    margin: 0;
    width: 100%;
  }
}

figure {
  margin: 0;
}

figure figcaption p {
  margin-top: 0.3em;
  font-size: 0.8em;
  font-style: italic;
}

figure.full {
  margin: 0;
}

figure.mid {
  margin: 0;
}

figure.float {
  margin: 0;
  float: left;
}

figure.float-right {
  margin: 0;
  float: right;
}

figure.float-right figcaption {
  margin-left: 1em;
}

/* Tables */

table {
  width: 100%;
}

thead {
  text-align: left;
}

blockquote {
  margin: 1em;
  padding: 0.5em 2em;
  position: relative;
  background-color: #efefef;
  box-shadow: -5px 5px 2px #666666;
}

@media only screen and (max-width: 800px) {
  blockquote {
    margin: 1em 0;
    padding: 0.5em;
  }
}

dl dd {
  font-style: italic;
}

ul.pagination {
  display: flex;
  justify-content: center;
  margin: 1em 0 0;
  padding: 0.5em 0;
  list-style: none;
}

ul.pagination li {
  padding: 0 1em;
}

.summary {
  font-size: 0.8em;
}
