{{ define "main" }}

<section id="home">
  {{ .Content }}
  <h1>Recent</h1>
  <ul class="big-list">
    {{ $pages := where site.RegularPages "Type" "posts" }}
    {{ $paginator := .Paginate $pages }}
    {{ range $index, $page := $paginator.Pages }}

    <li class="big-list-item">
      <h2><a href="{{ $page.Permalink }}" title="{{ $page.Title }}">{{ .Title }}</a></h2>
      {{ partial "aside" . }}
      <div class="summary">
        <p >{{ .Summary }}</p>
        {{ if .Truncated }}
        <a href="{{ .RelPermalink }}">{{ T "readMore" }}</a>
        {{ end }}
      </div>
    </li>
    {{ end }}
  </ul>
</section>

{{ template "_internal/pagination.html" . }}

{{ end }}
